@model UserIndexViewModel
@{
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
    byte more = (byte)ViewBag.More;
}
@section scripts{
    <script> seajs.use("@Url.Content("/src/sys/plugin/js/user.js")");</script>
}
<div class="show-content">
    <div class="row">
        <div class="ibox">
            <div class="ibox-title">
                <button type="button" class="btn btn-sm btn-primary" id="saveuser"><i class="fa fa-plus"></i><span class="ml5">确定</span></button>
            </div>
            <div class="ibox-content">
                <div class="full-height-scroll">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="w50"></th>
                                    <th>用户账号</th>
                                    <th>用户名</th>
                                    <th class="w100">创建时间</th>
                                    <th class="w50 text-center">状态</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Users.Items)
                                {
                                    <tr>
                                        <td>
                                            @if (more == 1)
                                            {
                                                <input type="checkbox" value="@item.UserId" data-username="@item.UserName" />
                                            }
                                            else
                                            {
                                                <input type="radio" name="userradio" value="@item.UserId" data-username="@item.UserName" />
                                            }
                                        </td>
                                        <td>@item.Account</td>
                                        <td>@item.UserName</td>
                                        <td>@item.CreateTime.ToDateTime().ToString("yyyy-MM-dd")</td>
                                        <td class="text-center">
                                            @if (item.IsDel == 1)
                                            {
                                                <i title="已删除" class="fa fa-trash red"></i>
                                            }
                                            else
                                            {
                                                <i title="可用" class="fa fa-check green"></i>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="jquery-pager" data-pageindex="@Model.Search.PageIndex" data-pagesize="@Model.Search.PageSize" data-datacount="@Model.Users.TotalItems"></div>
                </div>
            </div>
        </div>
    </div>
</div>